.loader {
    display: inline-block;
    width: 80px;
    height: 80px;

}
.loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid rgb(6, 0, 177);
    border-color: rgb(6, 0, 177) transparent rgb(6, 0, 177) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
