.search-bar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 1rem 1rem 1rem;
  position: relative;


  .input-searchbar {
    flex-basis: 100%;
    font-size: 22px;
    padding: 15px 15px;
  }

  &__loader.loader {
    width: 40px;
    height: 40px;
    right: 17px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
  }
  &__loader.loader:after {
    width: 15px;
    height: 15px;
  }
 
}
