.user {
    display: flex;
    padding: 0.5rem;
    border: 1px solid black;
    font-size: 20px;
    width: 100%;
    &__avatar {
        width: 50px;
        height: 50px;
    }
    &__name {
        margin-left: 1rem;
    }
    &__repo {
        margin-left: auto;
    }
}
