.user-details-page {
    text-align: center;
    .user-details {
        display: flex;
        column-gap: 1rem;
        margin-bottom: 1rem;
        .user-avatar {
            width: 50%;
            .user-picture {
                width: 100%;
                max-width: 376px;
            }
        }
        .user-data {
            width: 50%;
            p {
                &:not(:first-child) {
                    margin-top: 0.5rem;
                }
                font-size: 18px;
                color: rgba(0, 0, 0, 0.865);
                margin-bottom: 0;
            }
        }
    }
    .user-biography {
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        font-size: 20px;
    }
    .repo-list {
        .repo {
            display: flex;
            column-gap: 1rem;
            border: 1px solid black;
            align-items: center;
            padding: 0.5rem 0.8rem;
            text-decoration: none;
            color: black;
            &__name {
                font-size: 18px;
            }
            &__details {
                margin-left: auto;
                display: flex;
                flex-direction: column;
            }
        }
    }
}
