.App {
  width: 100vw;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem 1rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  &__title {
    font-size: 27px;
  }
}

.error {
  padding: 25px;
  background: red;
  color: white;
  font-size: 25px;
  border-radius: 15px;
}
